/*
//This project is Desktop first we will be using the max-width
So it [tab-land,tab-port-phone] then big screen for the min width
The breakpoints
[0-600px]-mobile version(phone)
[0-900px]-Portrait Tablet(tab-port)
[900px-1800px]-landscape Tablet(tab-land)
[1800px-upwards]-big screen

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 40%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "nunito";
  color: #484747;
  background-color: #f2f2f2;
  font-weight: normal;
}

/*
//This project is Desktop first we will be using the max-width
So it [tab-land,tab-port-phone] then big screen for the min width
The breakpoints
[0-600px]-mobile version(phone)
[0-900px]-Portrait Tablet(tab-port)
[900px-1800px]-landscape Tablet(tab-land)
[1800px-upwards]-big screen

*/
.header {
  background-image: url("../images/man-taking-photo-of-the-great-pyramid-1851481.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  position: relative;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  color: #484747;
}

.header .navbar__burger-icon {
  display: none;
  background-color: #e4cfa3;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 900px) {
  .header .navbar__burger-icon {
    display: inline-block;
  }
}

.header .navbar__burger-icon span {
  font-size: 2rem;
  margin-top: 8px;
}

.header .navbar__logo-box h2 {
  font-size: 3.1rem;
}

.header .navbar__navlist {
  list-style-type: none;
}

@media (max-width: 900px) {
  .header .navbar__navlist {
    display: none;
  }
}

.header .navbar__item {
  display: inline-block;
  position: relative;
}

.header .navbar__item:not(:last-of-type) {
  margin-right: 4rem;
}

.header .navbar__item::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0px;
  background-color: #e4cfa3;
  top: -20px;
  left: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .navbar__item:hover::after {
  height: 25px;
}

.header .navbar__link {
  text-decoration: none;
  position: relative;
  color: #484747;
  font-size: 1.8rem;
  font-weight: 600;
}

.header .navbar__link::before {
  content: "";
  position: absolute;
  top: -90%;
  left: 50%;
  width: 0.5rem;
  height: 2rem;
  background-color: #e4cfa3;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: none;
}

.header .navbar__link:hover .header .navbar__link::before {
  display: inline-block;
}

.header .navbar__search-box {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .navbar__search-box span {
  font-size: 1.9rem;
  position: relative;
}

.header .navbar__search-box span::after {
  content: "";
  height: 3.7rem;
  width: 3.7rem;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: dashed 3px #e4cfa3;
}

.header .navbar__search-box:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .navbar__search-box:hover span ::after {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header .display {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .8s;
  transition: all .8s;
}

.header .display .navbar__logo-box {
  color: #e4cfa3;
  display: none;
}

.header .display span {
  position: relative;
  font-size: 5rem;
  padding: 13px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 10rem;
  height: 7rem;
  /*&::after {
                bottom: 0;
                right: 0;
                border-top-color: transparent;
                border-left-color: transparent;
            }
            &::before {
                top: 0;
                left: 0;
                border-bottom-color: transparent;
                border-right-color: transparent;
            }*/
}

@media (max-width: 900px) {
  .header .display span {
    font-size: 4rem;
  }
}

.header .display span:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #e4cfa3;
}

.header .display span:hover::after {
  width: 110%;
  height: 110%;
  border-color: #e4cfa3;
  border-top-color: transparent;
  border-left-color: transparent;
}

.header .display span:hover::before {
  width: 110%;
  height: 110%;
  border-color: #e4cfa3;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.header .display span::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  border: solid #484747 4px;
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header .display span::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  border: solid #484747 4px;
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

/*
//This project is Desktop first we will be using the max-width
So it [tab-land,tab-port-phone] then big screen for the min width
The breakpoints
[0-600px]-mobile version(phone)
[0-900px]-Portrait Tablet(tab-port)
[900px-1800px]-landscape Tablet(tab-land)
[1800px-upwards]-big screen

*/
.u-center {
  text-align: center;
}

.heading {
  position: relative;
  font-size: 2.4rem;
  color: #484747;
  font-weight: normal;
}

.heading::after {
  content: "";
  width: 6rem;
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.4rem;
  font-weight: 100;
  background-color: #e4cfa3;
}

.u-margin-bottom {
  margin-bottom: 5rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-big {
  margin-top: 6rem;
}

/*
//This project is Desktop first we will be using the max-width
So it [tab-land,tab-port-phone] then big screen for the min width
The breakpoints
[0-600px]-mobile version(phone)
[0-900px]-Portrait Tablet(tab-port)
[900px-1800px]-landscape Tablet(tab-land)
[1800px-upwards]-big screen

*/
.abouts-section {
  padding: 3rem 4rem;
}

@media (max-width: 900px) {
  .abouts-section {
    padding: 2rem 3rem;
  }
}

.abouts-section__image-box img {
  margin: 0 auto;
  width: 200px;
  display: block;
}

.abouts-section__text {
  font-size: 1.9rem;
  padding-right: 4rem;
}

@media (max-width: 600px) {
  .abouts-section__col2 {
    text-align: center;
  }
}

@media (min-width: 1800px) {
  .abouts-section__col2 {
    text-align: center;
  }
}

.abouts-section__read-more-btn {
  background-color: #e4cfa3;
  text-decoration: none;
  color: #484747;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 2rem;
  display: inline-block;
  -webkit-box-shadow: 0 1.5px 1.6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5px 1.6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .abouts-section__read-more-btn {
    margin: 2rem auto;
  }
}

@media (min-width: 1800px) {
  .abouts-section__read-more-btn {
    margin: 2rem auto;
  }
}

.abouts-section__read-more-btn:hover {
  -webkit-box-shadow: 0 1.8px 1.9px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1.8px 1.9px rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.catalogue-section__box {
  background-color: rgba(241, 227, 197, 0.31);
  height: 45rem;
  border: solid 2px #e4cfa3;
  position: relative;
  padding: 2rem;
  cursor: pointer;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #e4cfa3 50%);
  background-size: 290%;
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.catalogue-section__box:hover {
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  background-position: 100%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.catalogue-section__icon-box {
  position: absolute;
  left: 50%;
  top: -12%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 600px) {
  .catalogue-section__icon-box {
    top: -15%;
  }
}

@media (min-width: 1800px) {
  .catalogue-section__icon-box {
    top: -15%;
  }
}

.catalogue-section__icon-box img {
  width: 110px;
}

@media (max-width: 600px) {
  .catalogue-section__icon-box img {
    width: 80px;
  }
}

@media (min-width: 1800px) {
  .catalogue-section__icon-box img {
    width: 80px;
  }
}

.catalogue-section__heading {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.catalogue-section__text {
  font-size: 1.5rem;
  line-height: 1.9rem;
  display: block;
  font-weight: normal;
}

.catalogue-section__list {
  margin: 0 auto;
  display: block;
}

.catalogue-section__item:not(:last-of-type) {
  margin-bottom: 2rem;
}

.team-section {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .team-section {
    padding: 1rem 4rem;
  }
}

@media (min-width: 1800px) {
  .team-section {
    padding: 1rem 4rem;
  }
}

.portifolio-section {
  padding: 2rem 6rem;
}

.portifolio-section__select {
  background-color: transparent;
  border: solid 2px #e4cfa3;
  font-size: 1.5rem;
  padding: 0.2rem;
  text-align: center;
  outline: none;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.portifolio-section__select option {
  outline: none;
  text-align: center;
}

.portifolio-section__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2px auto;
}

.portifolio-section__gallery .column {
  -webkit-box-flex: 33.3333333333%;
      -ms-flex: 33.3333333333%;
          flex: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 4px;
}

@media (max-width: 600px) {
  .portifolio-section__gallery .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1800px) {
  .portifolio-section__gallery .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.portifolio-section__gallery .column img {
  width: 100%;
  vertical-align: middle;
  margin-top: 8px;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.portifolio-section__gallery .column img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.portifolio-section__load-more {
  text-align: center;
  position: relative;
  background-color: #e4cfa3;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 2rem auto;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portifolio-section__load-more span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.4rem;
  display: block;
  margin: auto;
  color: #fff;
}

.portifolio-section__load-more:hover {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}

.testimonials-section {
  padding: 4rem 2rem;
}

.testimonials-section__box {
  display: -ms-grid;
  display: grid;
  padding: 2rem 10rem;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5rem;
}

@media (max-width: 1200px) {
  .testimonials-section__box {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.subscribe-section {
  width: 100%;
  position: relative;
  height: 100%;
  display: block;
  margin-bottom: 10px;
}

.subscribe-section__overlay {
  width: 100%;
  height: 99.5%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 1;
}

.subscribe-section__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscribe-section__content h2 {
  text-align: center;
  font-size: 2.1rem;
  color: #e4cfa3;
  font-weight: normal;
  margin-bottom: 5px;
}

.subscribe-section__content h2 span {
  color: #f4f4f4;
}

.subscribe-section__content .form-group {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-section__content .form-group input {
  font-size: 1.6rem;
  padding: 0.8rem;
  outline: none;
  width: 80%;
  margin-right: 0;
  position: relative;
  border: solid 4px #e4cfa3;
  background-color: transparent;
  color: #f4f4f4;
}

.subscribe-section__content .form-group input::-webkit-input-placeholder {
  color: #e4cfa3;
}

.subscribe-section__content .form-group input:-ms-input-placeholder {
  color: #e4cfa3;
}

.subscribe-section__content .form-group input::-ms-input-placeholder {
  color: #e4cfa3;
}

.subscribe-section__content .form-group input::placeholder {
  color: #e4cfa3;
}

.subscribe-section__content .form-group button {
  margin-left: -8px;
  padding: 0.8rem;
  font-size: 1.6rem;
  background-color: #e4cfa3;
  border: solid 4px #e4cfa3;
  color: #555;
  outline: none;
}

.subscribe-section__content .form-group button:hover {
  cursor: pointer;
}

.fullscreen-video-wrap {
  width: 100%;
}

.fullscreen-video-wrap video {
  width: 100%;
}

.contact-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/coffee-cup-smartphone-notebook-97050.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/coffee-cup-smartphone-notebook-97050.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -ms-grid;
  display: grid;
  padding: 6rem 5rem;
  margin: 2px auto;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  color: #f4f4f4;
  grid-row-gap: 20px;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .contact-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 2px 2px;
    text-align: center;
  }
}

@media (min-width: 1800px) {
  .contact-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 2px 2px;
    text-align: center;
  }
}

.contact-section__socials {
  text-align: center;
  font-weight: normal;
}

.contact-section__socials h2 {
  margin-bottom: 8px;
}

.contact-section__socials span {
  font-size: 3rem;
  margin-right: 10px;
  color: #e4cfa3;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.contact-section__socials span:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-section__highlight {
  color: #e4cfa3;
}

@media (max-width: 600px) {
  .contact-section .contact-us {
    text-align: center;
  }
}

@media (min-width: 1800px) {
  .contact-section .contact-us {
    text-align: center;
  }
}

.contact-section .contact-us h2 {
  margin-bottom: 15px;
  font-size: 2.2rem;
  font-weight: normal;
  margin-left: 20%;
  margin-top: -40px;
}

@media (max-width: 600px) {
  .contact-section .contact-us h2 {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 1800px) {
  .contact-section .contact-us h2 {
    margin-left: 0;
    margin-top: 0;
  }
}

.contact-section .connect,
.contact-section .address {
  font-family: "nunito";
  margin: 1px auto;
  font-weight: normal;
}

.contact-section .submit-btn {
  width: 120px;
  background-color: #e4cfa3;
  display: inline-block;
  padding: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #484747;
}

@media (max-width: 600px) {
  .contact-section .submit-btn {
    display: block;
    text-align: center;
    width: 80%;
    padding: 5px;
    margin: 2px auto;
  }
}

@media (min-width: 1800px) {
  .contact-section .submit-btn {
    display: block;
    text-align: center;
    width: 80%;
    padding: 5px;
    margin: 2px auto;
  }
}

.contact-section .submit-btn h2 {
  display: inline;
}

.contact-section .submit-btn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #484747;
}

.contact-section__form input,
.contact-section__form textarea {
  width: 80%;
  padding: 1.1rem;
  background: transparent;
  border: solid 2px #e4cfa3;
  margin-bottom: 10px;
  outline: none;
  color: #f4f4f4;
}

.contact-section__form input::-webkit-input-placeholder,
.contact-section__form textarea::-webkit-input-placeholder {
  color: #f4f4f4;
  font-family: "nunito";
}

.contact-section__form input:-ms-input-placeholder,
.contact-section__form textarea:-ms-input-placeholder {
  color: #f4f4f4;
  font-family: "nunito";
}

.contact-section__form input::-ms-input-placeholder,
.contact-section__form textarea::-ms-input-placeholder {
  color: #f4f4f4;
  font-family: "nunito";
}

.contact-section__form input::placeholder,
.contact-section__form textarea::placeholder {
  color: #f4f4f4;
  font-family: "nunito";
}

/*
//This project is Desktop first we will be using the max-width
So it [tab-land,tab-port-phone] then big screen for the min width
The breakpoints
[0-600px]-mobile version(phone)
[0-900px]-Portrait Tablet(tab-port)
[900px-1800px]-landscape Tablet(tab-land)
[1800px-upwards]-big screen

*/
.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2rem 3rem;
  grid-gap: 50px;
}

.row__catalogue {
  padding: 4rem 10rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 900px) {
  .row__catalogue {
    padding: 4rem 5rem;
  }
}

.card {
  border: solid 2px #e4cfa3;
  padding: 2rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .card {
    padding: 3rem 2rem;
  }
}

@media (min-width: 1800px) {
  .card {
    padding: 3rem 2rem;
  }
}

.card__image-box {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__image-box--1 {
  background-image: url("../images/face-facial-hair-fine-looking-guy-614810.jpg");
}

.card__image-box--2 {
  background-image: url("../images/photography-of-a-guy-wearing-green-shirt-1222271.jpg");
}

.card__image-box--3 {
  background-image: url("../images/women-s-white-and-black-button-up-collared-shirt-774909.jpg");
}

.card__image-box--4 {
  background-image: url("../images/adult-beard-boy-casual-220453.jpg");
}

.card__image-box--5 {
  background-image: url("../images/face-facial-hair-fine-looking-guy-614810.jpg");
}

.card__image-box--6 {
  background-image: url("../images/adult-beard-boy-casual-220453.jpg");
}

.card__list {
  list-style-type: none;
  font-size: 1.7rem;
  display: inline-block;
  margin: auto 0;
}

.card__item {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.card__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.card__item span {
  margin-left: 5px;
  color: #e4cfa3;
}

.card__item--name {
  color: #e4cfa3;
}

.card__item:hover {
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.card__item:hover span {
  color: #f4f4f4;
}

.card__link {
  text-decoration: none;
  background-color: rgba(241, 227, 197, 0.31);
  color: #484747;
  padding: 0.3rem;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.card__link:hover {
  -webkit-transform: translate(10px);
          transform: translate(10px);
  background-color: #e4cfa3;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.testimonials-section__cover {
  position: relative;
}

.testimonials-section__cover--1::after {
  background-image: url("../images/adult-beautiful-blonde-blur-324658 (1).jpg");
  background-position: center;
}

.testimonials-section__cover--2::after {
  background-image: url("../images/woman-in-black-scoop-neck-shirt-smiling-38554.jpg");
  background-position: left;
}

.testimonials-section__cover--3::after {
  background-image: url("../images/adult-beautiful-casual-cute-372042.jpg");
  background-position: center;
}

.testimonials-section__cover--4::after {
  background-image: url("../images/man-in-red-crew-neck-sweatshirt-photography-941693.jpg");
  background-position: center;
}

.testimonials-section__cover--5::after {
  background-image: url("../images/portrait-photo-of-freckled-woman-with-white-braids-posing-3078089.jpg");
  background-position: bottom;
}

.testimonials-section__cover--6::after {
  background-image: url("../images/adult-beautiful-blonde-blur-324658 (1).jpg");
  background-position: center;
}

.testimonials-section__cover::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: red;
  z-index: 1000;
  top: 0px;
  left: 2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  background-size: cover;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
  .testimonials-section__cover::after {
    width: 120px;
    height: 90px;
  }
}

@media (max-width: 900px) {
  .testimonials-section__cover::after {
    width: 140px;
    height: 70px;
  }
}

@media (max-width: 600px) {
  .testimonials-section__cover::after {
    width: 110px;
    height: 50px;
  }
}

@media (min-width: 1800px) {
  .testimonials-section__cover::after {
    width: 110px;
    height: 50px;
  }
}

.testimonials-section__cover::before {
  content: "";
  -webkit-clip-path: polygon(64% 64%, 100% 40%, 100% 100%, 10% 100%);
          clip-path: polygon(64% 64%, 100% 40%, 100% 100%, 10% 100%);
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #e4cfa3;
  z-index: 1000;
  bottom: 2px;
  right: 2px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
  .testimonials-section__cover::before {
    width: 80px;
  }
}

@media (max-width: 900px) {
  .testimonials-section__cover::before {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 600px) {
  .testimonials-section__cover::before {
    width: 80px;
    height: 50px;
  }
}

@media (min-width: 1800px) {
  .testimonials-section__cover::before {
    width: 80px;
    height: 50px;
  }
}

.testimonials-section__feature-box {
  background-color: #e4cfa3;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem 7.5rem;
  text-align: center;
  -webkit-clip-path: polygon(34% 0, 100% 0, 100% 60%, 78% 100%, 0 100%, 0 60%);
          clip-path: polygon(34% 0, 100% 0, 100% 60%, 78% 100%, 0 100%, 0 60%);
  -webkit-box-shadow: 10 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10 10px 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.testimonials-section__feature-box h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
}

.testimonials-section__feature-box p {
  font-size: 1.4rem;
}

footer {
  padding: 1.8rem;
  text-align: center;
}

footer span {
  color: #e4cfa3;
}
/*# sourceMappingURL=main.css.map */